<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>文章</title>
    <link rel="stylesheet" href="/stylesheets/base.css" media="screen" title="no title">
    <link rel="stylesheet" href="/stylesheets/article.css" media="screen" title="no title">

  </head>
  <body>
    <!--导航栏信息 -->
    <% include _nav.ejs %>
    <!--文章信息 -->
    <div id="main">
    <article class="article" id="article">
    <div class="header_container">
    <header class="article_title">
    <h1><%= articles[0].article_title %></h1>
    </header>
    <div class="article_info">
      <div>
        <i class="iconfont">&#xe603;</i>
        <span><%= articles[0].article_time.toString().substring(4,15) %>
        </span>
      </div>
      <div>
      <i class="iconfont">&#xe606;</i>
        <span>  <%= articles[0].student_name %></span>
      </div>
    </div>
    </div>
    <div id="article_content">
    <%= articles[0].article_content %>
    </div>
    </article>

    <ul>
      <li><span><img id="praise_img" src="/images/article/praise.jpg" alt="点赞" />赞(<span id="supportCount"></span>)</span></li>
    </ul>


    <div id="comment_container" class="comment_container">
      <div id="form_container" class="form_container">
        <form name="textForm" id="form">
          <a class="avatar">
          <img src="/userImg/avatar-1487519874252.jpg" alt="" width="35px" height="35px"/>
          </a>
    			<textarea class="commit_content" name="commit_content" id="commit_content" placeholder="快快说点啥吧…O(∩_∩)O"></textarea>
          <div class="comment_choose">
            <div class="emoj-container">
              <!-- <a id="emoj" class="emoj">表情</a> -->
               <a id="emoj" class="emoj"><i class="iconfont">&#xe611;</i></a>
              <div class="emoj_choose" id="emoj_choose">

              </div>
            </div>
            <div class="btn_container">
              <input type="button"  class="btn" id="clear" value="清空"/>
        			<input type="button"  class="btn" id="comment"  value="发表"/>
            </div>
          </div>
    		</form>
      </div>
      <div id="comment_list" class="comment_list">
        <%
        function displayEmoj(s) {
          var reg=/\[emoj:\d+\]/g;
          var result=s;
          var match;
          var allEmojs=69;
          while(match=reg.exec(s)) {
            var startIndex=match[0].indexOf(':')+1;
            var endIndex=match[0].indexOf(']');
            var emojItem=match[0].substring(startIndex,endIndex);
            if(emojItem<allEmojs) {
            result=s.replace(match[0],'<img src=/images/article/emoj/'+emojItem+'.gif>');
            }
            else {
              result=s;
            }
          }
          return result;
        }

         %>
        <% articles.forEach(function(item) { %>
        <div id="<%= item.comment_id %>">
          <p><%- displayEmoj(item.comment_content) %></p>
          </div>
        <% }) %>

    </div>











    <!-- <div id="mesg_box">
      <div id="">
        <ul>
          <li><span><img id="praise_img" src="/images/article/praise.jpg" alt="点赞" />赞(<span id="supportCount"></span>)</span></li>
        </ul>
      </div>
		<div id="mesg_title"><span>留言区</span></div>
    <% articles.forEach(function(item) { %>
      <p><%= item.comment_content %></p>
    <% }) %>
		<form name="textForm" id="form">
			<textarea class="leave_mesg" name="commit_content" id="commit_content" placeholder="快快说点啥吧…O(∩_∩)O"></textarea>
			<input type="button" class="bt" id="clear" value="清空"/>
			<input type="button" class="bt" id="comment"  value="发表"/>
		</form>
	</div> -->
  </div>
    <!--右边部分 -->
    <% include _right.ejs %>
    <div id="none" style="display:none"></div>
    <!-- footer部分 -->
    <% include _footer.ejs %>
    <script src="/javascripts/article.js"></script>
  </body>
</html>
