<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>文章列表</title>
    <link rel="stylesheet" href="/stylesheets/base.css" media="screen" title="no title">
    <link rel="stylesheet" href="/stylesheets/list.css" media="screen" title="no title">
  </head>
  <body>
    <!--导航栏信息 -->
    <% include _nav.ejs %>
    <div id="main">
    <% list.forEach(function(item) {
      %> <article class="article">
        <div class="article_inner">
          <header class="article_header">
            <h2><a href="/article?article_id=<%= item.article_id %>"><%= item.article_title %></a></h2>
          </header>
          <div class="article_entry">
            <p><%= item.article_content.substring(0,120) %></p>
            <p class="article_more"><a href="/article?article_id=<%= item.article_id %>">More > ></a></p>
          </div>
          <div class="article_info">
            <div><img src="/images/list/time.png">
              <span><%= item.article_time.toString().substring(4,15) %>
              </span>
            </div>
            <div><img src="/images/list/author.png">
              <span>  <%= item.student_name %></span>
            </div>
              <div><img src="/images/list/praise.png">
              <span>  <%= item.article_clicks %></span>
              </div>
          </div>
        </div>
      </article>
    <% })%>
    <div id="pageSelect">
      <% if (hasPrev) { %>
            <a href="/list?type=<%= type %>&page=<%= parseInt(page, 10)-1 %>" class="changePage">上一页</a>
      <% } %>
      <% if (hasNext) { %>
      <a href="/list?type=<%= type %>&page=<%= parseInt(page, 10)+1 %>" class="changePage">下一页</a>
      <% } %>
    </div>
    </div>
    <!--右边部分 -->
    <% include _right.ejs %>
    <div id="none" style="display:none"></div>
    <!-- footer部分 -->
    <% include _footer.ejs %>
     <script src="./javascripts/right.js"></script>
  </body>
</html>
