<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/base.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <body>

    <!--导航栏信息 -->
    <% include _nav.ejs %>

   <!-- 侧边栏加主体部分-->
    <div id="aside">
			<a class="left-first" href="javascripts:void(0)">求职</a>
			<a class="left-second" href="javascripts:void(0)">读研</a>
			<a class="left-third" href="javascripts:void(0)">出国</a>
		</div>
    <div id="main">
			<div>

				<img src="images/main/main_top.jpg" class="topimg"/>
			</div>
			<div class="part">
        <div id="jobContainer">
          <ul>
            <% article_list[0].forEach(function(item) { %>
              <li><a href="/article?article_id=<%= item.article_id %>"><%= item.article_title %></a></li>
            <% }) %>
          </ul>
        </div>
				<img src="images/main/job.jpg" />
			</div>
			<div class="part">
        <div id="studyContainer">
          <ul>
            <% article_list[1].forEach(function(item) { %>
              <li><a href="/article?article_id=<%= item.article_id %>"><%= item.article_title %></a></li>
            <% }) %>
          </ul>
        </div>
				<img src="images/main/graduate.jpg" />
			</div>
			<div class="part">
        <div id="aboardContainer">
          <ul>
            <% article_list[2].forEach(function(item) { %>
              <li><a href="/article?article_id=<%= item.article_id %>"><%= item.article_title %></a></li>
            <% }) %>
          </ul>  
        </div>
				<img src="images/main/abroad.jpg" />
			</div>
		</div>

  	  <!--右边部分 -->
   <% include _right.ejs %>
      <!-- footer部分 -->
   <% include _footer.ejs %>
   <script type="text/javascript" src="/javascripts/main.js"></script>
   <script type="text/javascript">
    var article_list='<%= article_list %>';
   </script>
  	</body>
</html>
